{% extends "layout.html" %} {% block content %}
<article>
  <h1 class="text-center mb-5">
    <span class="highlight-1">Sobre mí:</span>
  </h1>

  <!-- CARD -->
  <div
    id="card-about"
    class="card m-auto mb-5 mt-5 shadow-lg"
    style="max-width: 730px"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://media.licdn.com/dms/image/D5603AQFIfpbQp-3v5Q/profile-displayphoto-shrink_800_800/0/1683204572859?e=1693440000&v=beta&t=MQfXhESVv1J9IHRS4LQxPbDklW6XGLsaxxi8RHM6AzI"
          class="img-fluid rounded-start h-100 w-100"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">Alexander amenta</h5>
          <h6 class="card-text text-info">Desarrollador Web</h6>
          <p class="card-text">
            👋¡Hola! Soy Alexander Amenta, un desarrollador Full Stack
            apasionado por la creación de soluciones tecnológicas. Bienvenido a
            mi página web.
          </p>
          <a
            class="mx-1"
            href="https://www.linkedin.com/in/alexander-amenta/"
            target="_blank"
            ><img
              src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Linkedin_svg-256.png"
              alt="linkedin"
              style="width: 35px"
          /></a>
          <a class="mx-1" href="https://github.com/Alex-Amenta" target="_blank"
            ><img
              src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-256.png"
              alt="github"
              style="width: 35px"
          /></a>
          <a
            class="mx-1"
            href="https://www.threads.net/@aalexamenta"
            target="_blank"
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Threads_Logo_PNG.png"
              alt="trheads"
              style="width: 40px"
          /></a>
          <p class="card-text mt-2">
            <small class="text-body-secondary"
              >Actualizado hace 3 minutos</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5 mb-4 text-center pt-3">
    <span class="highlight-3">Más info Sobre mí:</span>
  </h2>
  <ul class="emoji-idea">
    <li>
      Como profesional de desarrollo web, disfruto explorando nuevas tecnologías
      y creando aplicaciones que resuelvan problemas del mundo real. Con una
      sólida experiencia en el desarrollo tanto del lado del cliente como del
      lado del servidor, estoy comprometido en ofrecer soluciones eficientes y
      de alta calidad.
    </li>
    <li>
      A lo largo de mi carrera, he trabajado en diversos proyectos, desde
      pequeñas aplicaciones web hasta sistemas empresariales complejos. Me
      encanta enfrentar desafíos técnicos y encontrar formas innovadoras de
      superarlos. Mi enfoque se basa en construir aplicaciones robustas,
      escalables y amigables para el usuario.
    </li>
    <li>
      Además de ser un apasionado del desarrollo web, también valoro el trabajo
      en equipo y la colaboración. Disfruto participando en entornos
      colaborativos, donde puedo aprender de otros profesionales y aportar mis
      conocimientos para lograr resultados excepcionales.
    </li>
    <li>
      Algunas de las tecnologías con las que estoy familiarizado incluyen HTML5,
      CSS3, JavaScript, React, Python y bases de datos como postgreSQL y MongoDB.
      Estoy siempre ansioso por aprender nuevas herramientas y marcos de trabajo
      que me permitan mejorar mis habilidades y mantenerme actualizado en este
      mundo en constante evolución.
    </li>
    <li>
      Cuando no estoy codificando, puedes encontrarme disfrutando del aire
      libre, practicando deportes o explorando nuevos lugares. Creo firmemente
      en mantener un equilibrio saludable entre el trabajo y la vida personal,
      lo que me permite mantenerme inspirado y enfocado.
    </li>
    <li>
      Explora mi página web para conocer más sobre mi trabajo, proyectos pasados
      y mis habilidades técnicas. Estoy emocionado de conectar contigo y
      discutir cómo puedo ayudar en tu próximo proyecto.
    </li>
  </ul>
  <p class="text-center mt-5 mb-0">
    <b>¡Gracias por visitar mi página web!</b>
    <br />
    <i>Alexander Amenta - Desarrollador Full Stack</i>
  </p>
</article>
{% endblock %}
